<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Demo Page!</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/demo">Demo</a></li>
      <li><a href="/demo/other">Other</a></li>
    </ul>
  </body>
</html>
